[submodule "plugins/autocomplete"]
	path = plugins/autocomplete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "plugins/emacs-color-theme-solarized"]
	path = plugins/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "plugins/flymake-python"]
	path = plugins/flymake-python
	url = https://github.com/huseyinyilmaz/flymake-python.git	
[submodule "plugins/js2-mode"]
	path = plugins/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "plugins/nxhtml"]
	path = plugins/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "plugins/slime"]
	path = plugins/slime
	url = https://github.com/emacsmirror/slime.git
[submodule "plugins/paredit"]
	path = plugins/paredit
	url = git://github.com/emacsmirror/paredit.git
[submodule "plugins/pony"]
	path = plugins/pony
	url = git://github.com/davidmiller/pony-mode.git
[submodule "plugins/distel"]
	path = plugins/distel
	url = git://github.com/massemanet/distel.git
